<div class="item card gift-card">
    <div class="card-image">
        <div class="card-barcode"><div class="material-placeholder">{{{cardBarcode}}}</div></div>
    </div>
    <div class="card-info-main card-content">
        {{{cardNumber}}}
        <div class="card-balance">Current Balance</div>
        {{{cardAmount}}}
        <div><span class="activator card-info">{{refundText}}</span></div>
    </div>
    <div class="card-reveal valign-wrapper"><br>
        <a class="waves-effect btn center card-refund valign">Refund Card</a><br><br>
        <span class="card-title grey-text text-darken-4">Cancel</span><br>
    </div>
</div>
